# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


.suexecd
AuctionBase.db
VisualStack.db
auctionbase.py
constraints_verify.sql
create.sql
createDatabase.sh
json_parser.py
lib/
load.txt
output_simple_int
phpinfo.php
printenv.pl
runParser.sh
simple_gdb_writer.py
simple_int
sqlitedb.py
sqlitedb.pyc
stackshot.pyc
templates/
test
trigger*.sql
web
webpy/
