{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}

<form method="POST" action="visualstack" style="max-width:400px; width:100%">
  <div class="form-group">
  {#  <input type="text" name="gdb_command" class="form-control" id="gdb_command" />
  </div>#}
  <input type="submit" name="start_over" value="Start Over" class="btn btn-primary" />
  <input type="submit" name="step_back" value="Step Back" class="btn btn-primary" />
  <input type="submit" name="step_forward"value="Step Forward" class="btn btn-primary" /></div>
</form>

  <h3>Visual Stack</h3>
  {% if stack %}
  {# <div class="alert alert-info">Current line: {{ stack.line }}</div>
  <div class="alert alert-info">Registers: {{ stack.regs }}</div> #}

  {% if localcode %}
    {% for line in localcode %}
    {% if stack.line_num == line.split()[0]|int %}
    <b> {{ line }} &nbsp;&nbsp;&nbsp;&nbsp; {{ stack.instruction }}</b><br>
    {% else %}
    <span> {{ line }} </span><br>
    {% endif %}
    {% endfor %}
  {% endif %}

  <h4>Registers</h4>
  <table border="1" style="width:100%">
    <tr>
      {% for regname in stack.ordered_regs %}
      <td width="6.25%"> {{ regname }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for regname in stack.ordered_regs %}
      {% if regname in stack.changed_regs %}
      <td><b>{{ stack.regs[regname] }}</b></td>
      {% else %}
      <td>{{ stack.regs[regname] }}</td>
      {% endif %}
      {% endfor %}
    </tr>
  </table> 

  <h4>Stack</h4>
  <table border="1" style="width:100%">
    <tr>
      <td width="33.3%">Address</td>
      <td width="33.3%">Memory Contents</td>
      <td width="33.3"><b>Arguments</b> and Local Variables</td>
    </tr>
  {% for k in stack.ordered_addresses %}
    <tr>
      {% if k|string > stack.highest_arg_addr|string %} 
      <td bgcolor=#d9d9d9>{{ k }}</td>
      <td bgcolor=#d9d9d9>{{ stack.words[k] }}</td>
      {% elif k|string < stack.regs['rsp']|string and k in stack.changed_words %}
      <td bgcolor=#ff6666><b>{{ k }}</b></td>
      <td bgcolor=#ff6666><b>{{ stack.words[k] }}</b></td>
      {% elif k|string < stack.regs['rsp']|string %}
      <td bgcolor=#ff6666>{{ k }}</td>
      <td bgcolor=#ff6666>{{ stack.words[k] }}</td>
      {% elif k in stack.changed_words %}
      <td><b>{{ k }}</b></td>
      <td><b>{{ stack.words[k] }}</b></td>
      {% else %}
      <td>{{ k }}</td>
      <td>{{ stack.words[k] }}</td>
      {% endif %}
      {% for arg in stack.args %}
        {% if arg.address|string == k|string %}
          <td><b>&#60;&#45;&#45; {{ arg.name }} &#61; {{ arg.value}}</b></td>
        {% endif %}
      {% endfor %}
      {% for var in stack.local_vars %}
        {% if var.address|string == k|string %}
          <td>&#60;&#45;&#45; {{ var.name }} &#61; {{ var.value}}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  </table>

  {# <div class="alert alert-info">Words: {{ stack.words }}</div> #}
  {% endif %}
{# also make sure to include this very last line as well #}
{% endblock %}

